@use '../../styles/general/variables';
@use "@material/ripple/index.scss" as ripple;

@use "../../styles/my-theme";
@use "@material/card/index.scss" as card;

// @import "../../styles/my-theme";
// @import "@material/card/mdc-card";

@include card.core-styles;

 .mdc-card {
     &__illustration {
         position: relative;
         overflow: hidden;
         width: 100%;

        @include ripple.surface;
        @include ripple.radius-bounded;
        @include ripple.states-base-color(variables.$base-color);
        @include ripple.states-opacities((hover: .1, focus: .3, press: .4));

         &:hover {
             cursor: pointer;
         }
     }

     &__meta {
        display: flex;
        align-items: center;
        padding: 0 20px;
     }

     &__title {
         padding: 16px 20px 0;
     }

     &__text {
         padding: 0 20px 17px;
     }

     &__button{
        margin-left: auto;
     }

     &__date,
     &__views {
        margin-right: 15px;
     }

     &__views-icon {
         margin-left: 3px;
         font-size: 17px;
         vertical-align: sub;
     }

     &__link {
         margin-top: 10px;
         text-align: center;
     }
 }